
node_modules/

/client/node_modules/

/server/node_modules/

npm-debug.log
yarn-error.log
pnpm-debug.log



/client/dist/ 
/client/build/ 


*.tsbuildinfo
*.js.map



/server/.env 

.env
.env.local
.env.*.local


.DS_Store
.AppleDouble
.LSOverride


Thumbs.db
ehthumbs.db
Desktop.ini


.vscode/
.idea/
*.swp